/*  */
/*  */
/*  */


/* Customer Review Component */
.ReviewModule {
    display: grid;
    grid-template-columns: 14em 1fr;
    grid-template-rows: 25em 5em 30em 1fr;
    grid-template-areas:
        "reviewRating middle-container"
        "reviewRating middle-container"
        "addReview middle-container"
        ". middle-container"
    ;
    border-color: black;
    grid-gap: 2px;
    border-style: dotted;
    padding: 18px;
    font-family: Arial,
        sans-serif;
}

/*
*
*
*
AddReview Component Styles
*
*
*
 */
/* 
.AddReview {
    grid-area: addReview;
    flex-wrap: nowrap;

}

.AddReview h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.255;
    padding-bottom: 4px;
    text-rendering: optimizeLegibility;
    color: #111;

    border-color: greenyellow;
    margin-top: 22px !important;
    margin-bottom: 0px;

}

.buttonStyles {
    width: 100%;
    color: #111;
    margin-bottom: 10px;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    padding: 5px 0;
}

.AddReview button-text {
    background-color: transparent;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.AddReview p {
    margin-top: 0;
    margin-bottom: 18px !important;
    width: 100%;
    font-size: 13px;
    line-height: 19px;

} */

/* * * * Ad Component * * * */
/* 
.AdComponent {
    grid-area: ad;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 40vh;
    margin: auto;
    height: auto;
} */

/* * * * Spacing Border * * *

.spacingBorder {
    background-color: transparent;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 26px !important;
    margin-bottom: 26px !important;
} */

/* * * * Customer Reviews Component  * * * */
/* .ReviewRating {
    grid-area: reviewRating;
}

.ReviewRating h2 {
    font-weight: 700;
    line-height: 1.3;
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.rating-letter-space {
    font-size: 17px !important;
    line-height: 1.255 !important;
    text-rendering: optimizeLegibility;
    margin: 0 0.5em;
}

.ReviewRating table {
    border-collapse: collapse;
    border-spacing: 1px;
    
}

.rating-bar-container {
    z-index: -1;
    display: block;
    width: 6em;
    background: linear-gradient(to bottom, #eee, #f6f6f6);
    background-image: linear-gradient(rgb(238, 238, 238), rgb(246, 246, 246));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #f3f3f3;
    height: 1em;
    text-align: center;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4),
        inset 0 0 0 1px rgba(0, 0, 0, .1);
    
}

.rating-text {
    font-size: 13px !important;
    line-height: 19px !important;
    color: #767676;
} */


/* * * * By Feature Component * * * */
/* .ByFeature table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%

}

.Byfeature p {
    font-weight: 700 !important;
    font-size: 17px !important;
    line-height: 1.255 !important;
    color: #111;
}

.featureFlex {
    display: flex;
    margin-bottom: 1em;
}

.starComponent {
    margin-left: auto;
    text-align: center;
}

.textComponent {
    margin-left: 1em; */
/* } */
/* * * *  middle-container style div * * *
.middle-container {
    grid-area: middle-container;
    display: grid;
    grid-template-columns: 0.1fr 0.85fr 0.05fr;
    grid-template-rows: 0.2fr 0.8fr; 
    grid-template-areas: 
                        ". imageCarousel ."
                        ". reviewComments ."
    ;
} */
/* * * * ADD COMMENT SECTION * * * */
/* .addCommentPage {
    grid-area: reviewComments;
} */

/* * * * Image Carousel Component * * *

.ImageCarousel {
    grid-area: imageCarousel;
    max-width: 500px;
    width: 90.5%;
    display: block;
    zoom: 1;
    min-height: 250px;
}

.ImageCarousel h3 {
    padding: 0;
    margin: 0 !important;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.255;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    color: #111;
    text-rendering: optimizeLegibility;
}

.image-container img {
    vertical-align: top;
    border: 0;
    width: 22.5%;
    padding: 0.25%;
    height: 4.5em;
    flex: 1 1 0;
    object-fit: cover;
}

.image-container {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: space-around;
} */

/* * * * ReviewComments Component * * *
.ReviewComments {
    grid-area: reviewComments;
    max-width: 500px;
}

.ReviewComments select {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px !important;
}

.spacing-mini {
    border-radius: 34px;
    border: 2px solid #FFF;
    background-color: #FFF;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    border: 1.992;
    display: flex;
    align-items: center;
    justify-items: center;
}
.spacing-mini img {
    width: 2em;
    height: 2em;
    padding-right: 9px;
}

.spacing-mini span {
    text-align: center;
}

.icon-text-seperator {
    display: inline-block;
    margin: -2px .67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-003a053…._V2_.png);
    background-size: 400px 900px;
    background-repeat: no-repeat;
}

.Comments {
    margin-bottom: 1em;
}

.helpful {
    color: #111;
    margin-bottom: 10px;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    padding: 5px 0;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.dropDown {
    padding-right: 20px;
} */



