/* * * * AddReview Component Styles * * * */

.AddReview {
    grid-area: addReview;
    flex-wrap: nowrap;

}

.AddReview h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.255;
    padding-bottom: 4px;
    text-rendering: optimizeLegibility;
    color: #111;

    border-color: greenyellow;
    margin-top: 22px !important;
    margin-bottom: 0px;

}

.buttonStyles {
    width: 100%;
    color: #111;
    margin-bottom: 10px;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    padding: 5px 0;
}

.AddReview button-text {
    background-color: transparent;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.AddReview p {
    margin-top: 0;
    margin-bottom: 18px !important;
    width: 100%;
    font-size: 13px;
    line-height: 19px;

}

/* * * * Spacing Border * * * */

.spacingBorder {
    background-color: transparent;
    height: 1px;
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    line-height: 19px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 26px !important;
    margin-bottom: 26px !important;
}