/* * * * ADD COMMENT SECTION * * * */
.addCommentPage {
    grid-area: reviewComments;
    margin-top: 3.5em;
    width: 60%;
}

.input {
    width: 100%;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5),
    0 1px 0 rgba(0, 0, 0, .07) inset;
    outline: 0;
    overflow: none;
    vertical-align: top;
    margin: 0;
    font-size: 100%;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textarea;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    font: 400 13.3333px Arial;
}

.inputReview {
    height: 130px;
    padding: 5px 7px;
    resize: vertical;
    color: #111;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}

.star {
    font-size: 5em;
    border-color: #FFB400;
}

.ratingText {
    font-size: 13px !important;
    line-height: 19px !important;
    color: #767676;
}

.submitButton {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    float: right;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
    /* background: #e7e9ec; */
    border-radius: 3px;
    /* border-color: #ADB1B8 #A2A6AC #8D9096; */
    border-style: solid;
    border-width: 1px;
    padding: 0 1em 0 1em;
    height: 2em;
    margin-top: 2em;
}