/* * * * ReviewComments Component * * * */
.ReviewComments {
    grid-area: reviewComments;
    max-width: 500px;
}

.ReviewComments select {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px !important;
}

.spacingMini {
    border-radius: 34px;
    border: 2px solid #FFF;
    background-color: #FFF;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;
    border: 1.992;
    display: flex;
    align-items: center;
    justify-items: center;
}

.spacingMini img {
    width: 2em;
    height: 2em;
    padding-right: 9px;
}

.spacingMini span {
    text-align: center;
}

.iconTextSeperator {
    display: inline-block;
    margin: -2px .67375em 0;
    width: 1px;
    background-color: #ddd;
    line-height: 0;
    height: 14px;
    vertical-align: middle;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-003a053…._V2_.png);
    background-size: 400px 900px;
    background-repeat: no-repeat;
}

.Comments {
    margin-bottom: 1em;
}

.helpful {
    color: #111;
    margin-bottom: 10px;
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    padding: 5px 0;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}

.dropDown {
    padding-right: 20px;
}

.ratingText {
    font-size: 13px !important;
    line-height: 19px !important;
    color: #767676;
}
